@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Knowledge Hub Portal</title>
    <style>
        /* Style for the image */
       

        img
        {
            height:100vh;
            width:100%;
            /* margin-left:150px;
           margin-top: 20px;
            margin-right: 2500px;
            margin-bottom: 150px;*/
        }
    </style>
</head>
<body>
    <div class="h-screen ">
        <!-- Add your image here -->
        <img src="./css/thumbnail.jpg" ; alt="Knowledge Hub Portal" class="image">
    </div>
</body>
</html>


