@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
   
    At Knowledge Hub Portal, we respect the privacy of our users and visitors. This Privacy Policy explains how we collect, use, and disclose your personal information when you use our website. By using our website, you consent to the collection, use, and disclosure of your personal information as described in this Privacy Policy.

    <h3>Information We Collect</h3>
    When you visit our website, we may collect certain information automatically, such as your IP address, browser type, and device type. We may also collect information about your usage of our website, such as the pages you visit, the links you click, and the time you spend on each page.

    If you choose to subscribe to our newsletter or submit a contact form, we may collect your name, email address, and any other information you provide.
    <br />
    <br />
    <h3>How We Use Your Information</h3>
    We may use the information we collect for various purposes, including:

    To improve our website and the content we provide
    To send you newsletters or other communications
    To respond to your inquiries or requests
    To personalize your experience on our website
    To comply with legal obligations
    We will not share or sell your personal information to third parties, except as required by law or as necessary to provide services to you.
    <br />
    <br />
    <h3>Cookies</h3> 
    We may use cookies to collect information about your usage of our website. Cookies are small data files that are stored on your device when you visit our website. We use cookies to remember your preferences and to personalize your experience on our website.

    You can disable cookies in your browser settings, but please note that some features of our website may not function properly without cookies.
    <br />
    <br />
    <h3>Third-Party Links</h3>
    Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of these third-party websites.
    <br />
    <br />
    <h3>Security</h3>
    We take reasonable measures to protect the security of your personal information. However, no transmission of data over the internet is guaranteed to be completely secure. We cannot guarantee the security of any information you transmit to us.
    <br />
    <br />
    <h3>Changes to this Privacy Policy</h3>
    We may update this Privacy Policy from time to time. Any changes we make will be posted on this page.
    <br />
    <br />
    <h3>Contact Us</h3>
    If you have any questions or concerns about this Privacy Policy,
    <br>please contact us at 9876543210.</br>

    <br />
    Last updated: 06-04-2023

</p>
